
body {
	color: #fff;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}


/* HEADER */
#header-nav {
	background-color: #555;
	border-radius: 0;
	border: 0;
	height: 80px;
}

#logo-img {
	width: 350px;
	height: 53px;
	margin: 12px 10px 10px 15px;
}

#nav-list {
	margin: 12px 10px 10px 15px;
}

#nav-list li a {
	color: #fff;
	margin-left: 5px;
	text-shadow: 1px 1px 1px #222;
}

#nav-list li a:hover {
	background-color: #6DAE4E;
}
/* END HEADER */






/* MEDIA QUERIES */
@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
	body {
		font-size: 12px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}
/* END MEDIA QUERIES */





